Win32/
Release/
Debug/
*.vcproj.*
*.swp
*.lo
*.o
*.la
*.a
.libs/
.deps/
Makefile.in
Makefile
/MMCoreJ_wrap/mmcorej/*.java
/MMCoreJ_wrap/mmcorej/*.class
/acqEngine/MMAcqEngine.jar
/acqEngine/classes/
/bin_Win32/mmgr_dal_*.dll
/MMCoreJ_wrap/MMCoreJ.jar
/MMCoreJ_wrap/MMCoreJ_wrap.cxx
/MMCoreJ_wrap/MMCoreJ_wrap.h
/MMCoreJ_wrap/MMCoreJ_wrap.ncb
/MMCoreJ_wrap/MMCoreJ_wrap.suo
/bin_Win32/MMCoreJ.jar
/bin_Win32/MMCoreJ_wrap.dll
/lib_Win32/MMCore.lib
/lib_Win32/MMCorer.lib
/lib_Win32/MMCored.lib
/bin_Win32/MMJ_.jar
/mmstudio/build/
/mmstudio/MMJ_.jar
/mmstudio/src/org/json/*.class
CoreLog*.txt
hs_err*.log
/IJ_Prefs.txt
/Install_Win32/micro-manager/DSLRRemoteLib.dll
/Install_Win32/micro-manager/NKRemoteLib.dll
/Install_Win32/micro-manager/PSRemoteLib.dll
build/
/start-openspim.sh
.settings/
.classpath
.project
